---
import HomeLayout from "../../layouts/HomeLayout.astro";
import Article from "../../components/Article.astro";
---

<HomeLayout>
  <h1>THIS IS ENGLISH PAGE</h1>
  <!-- MAIN START -->
  <main class="mx-auto max-w-prose bg-white">
    <!-- ARTICLE LIST START -->
    <section class="mx-auto max-w-prose">
      <!-- ARTICLE LOOP START -->
      <Article
        time="24 Feb 2024 | 26-02-2024 | 3 hours ago"
        title="Basic Minimal Golang Development Environment Setup in Windows"
        link="#!"
      />
      <Article
        time="24 Feb 2024 | 26-02-2024 | 1 days ago"
        title="Build CLI apps with Golang"
        link="#!"
      />
      <Article
        time="24 Feb 2024 | 26-02-2024 | 2 days ago"
        title="How to Structure Golang Project for Beginner"
        link="#!"
      />
      <!-- ARTICLE LOOP END -->
    </section>
    <!-- ARTICLE LIST END -->
  </main>
  <!-- MAIN END -->
  <!-- STUPID 100DVH DIV TO TEST TOP NAV STICKY -->
  <div class="min-h-dvh"></div>
  <script is:inline>
    let prevScrollpos = window.scrollY;
    const element = document.getElementsByTagName("nav")[0];

    window.onscroll = function () {
      let currentScrollPos = window.scrollY;
      if (prevScrollpos > currentScrollPos) {
        element.style.top = "0";
        element.style.transition = "top 0.15s";
      } else {
        element.style.top = "-100%"; // Adjust this value to match the height of your header
      }
      prevScrollpos = currentScrollPos;
    };
  </script>
</HomeLayout>
