---
import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
import HomeLayout from "../layouts/HomeLayout.astro";
import Header from "../components/Header.astro";
import Aside from "../components/Aside.astro";
import Footer from "../components/Footer.astro";
import RelatedPosts from "../components/RelatedPosts.astro";
---

<HomeLayout pageTitle="Article View Design v1">
  <div class="bg-surface min-h-screen">
    <div class="mx-auto min-h-screen max-w-[90%] bg-white sm:px-8">
      <div class="mx-auto grid grid-cols-12 items-start gap-4 lg:max-w-[70ch]">
        <Header />
        <Aside />
        <main
          class="selected-text order-2 col-span-12 mx-auto grid max-w-[65ch] px-4 ring-0 ring-inset md:col-span-11 md:px-0"
        >
          <ul class="inline-flex items-center bg-white">
            <li class="text-gray-500">
              <a href="/" class="hover:text-gray-900">Home</a>
            </li>
            <li class="mx-2 inline-block align-middle text-gray-500">/</li>
            <li class="text-gray-500">
              <a href="/cloud-computing" class="hover:text-gray-900"
                >Cloud Computing</a
              >
            </li>
            <li class="mx-2 inline-block align-middle text-gray-500">/</li>
            <li>
              <svg
                class="h-[15px] w-[15px] stroke-[var(--mauve-11)]"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                ><path
                  d="M13.9999 5.00014L5.00003 5L5 7L11.9999 7.00011L12 17.1719L8.05027 13.2222L6.63606 14.6364L13 21.0004L19.364 14.6364L17.9498 13.2222L14 17.172L13.9999 5.00014Z"
                ></path></svg
              >
            </li>
          </ul>
          <article class="">
            <h3
              class="line-clamp-3 text-2xl/relaxed font-bold transition-colors duration-300"
            >
              {entry.data.title}
            </h3>
            <span
              class="text-xs/3 font-bold uppercase tracking-wider text-[var(--mauve-11)]"
            >
              Published on
              <time>30 Jul 2023</time>
            </span>
            <div class="my-4">
              <a
                class="bg-[var(--mauve-3)] p-2 text-[var(--mauve-12)] hover:bg-[var(--mauve-5)]"
                href="#!">#cloud_computing</a
              >
              <a
                class="bg-[var(--mauve-3)] p-2 text-[var(--mauve-12)] hover:bg-[var(--mauve-5)]"
                href="#!">#cloud_engineer</a
              >
            </div>
            <Content class="mt-6 text-base/7" />
          </article>
          <div class="pt-10">
            <RelatedPosts />
            <Footer />
          </div>
        </main>
      </div>
    </div>
  </div>
</HomeLayout>
