---
import HomeLayout from "../layouts/HomeLayout.astro";
// import dummy articles.json
import articles from "../dummy/articles.json";
---

<HomeLayout pageTitle="Home Design v1">
  <div class="bg-surface min-h-screen">
    <div class="mx-auto min-h-screen max-w-[90%] bg-white sm:px-8">
      <div
        class="mx-auto grid grid-cols-12 items-start gap-4 lg:max-w-screen-md"
      >
        <header
          class="order-1 col-span-12 flex flex-col gap-y-4 px-4 py-10 md:px-0"
        >
          <div class="flex items-start justify-between">
            <div>
              <h1 class="text-xl font-bold">SABAR</h1>
              <p class="text-lg/7 font-light text-[var(--mauve-11)]">
                Berbagi Wawasan dan Pengalaman Seputar Teknologi
              </p>
            </div>
            <ul class="flex items-center gap-x-4">
              <li>
                <a href="#!">
                  <svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      d="M7.49933 0.25C3.49635 0.25 0.25 3.49593 0.25 7.50024C0.25 10.703 2.32715 13.4206 5.2081 14.3797C5.57084 14.446 5.70302 14.2222 5.70302 14.0299C5.70302 13.8576 5.69679 13.4019 5.69323 12.797C3.67661 13.235 3.25112 11.825 3.25112 11.825C2.92132 10.9874 2.44599 10.7644 2.44599 10.7644C1.78773 10.3149 2.49584 10.3238 2.49584 10.3238C3.22353 10.375 3.60629 11.0711 3.60629 11.0711C4.25298 12.1788 5.30335 11.8588 5.71638 11.6732C5.78225 11.205 5.96962 10.8854 6.17658 10.7043C4.56675 10.5209 2.87415 9.89918 2.87415 7.12104C2.87415 6.32925 3.15677 5.68257 3.62053 5.17563C3.54576 4.99226 3.29697 4.25521 3.69174 3.25691C3.69174 3.25691 4.30015 3.06196 5.68522 3.99973C6.26337 3.83906 6.8838 3.75895 7.50022 3.75583C8.1162 3.75895 8.73619 3.83906 9.31523 3.99973C10.6994 3.06196 11.3069 3.25691 11.3069 3.25691C11.7026 4.25521 11.4538 4.99226 11.3795 5.17563C11.8441 5.68257 12.1245 6.32925 12.1245 7.12104C12.1245 9.9063 10.4292 10.5192 8.81452 10.6985C9.07444 10.9224 9.30633 11.3648 9.30633 12.0413C9.30633 13.0102 9.29742 13.7922 9.29742 14.0299C9.29742 14.2239 9.42828 14.4496 9.79591 14.3788C12.6746 13.4179 14.75 10.7025 14.75 7.50024C14.75 3.49593 11.5036 0.25 7.49933 0.25Z"
                      fill="currentColor"
                      fill-rule="evenodd"
                      clip-rule="evenodd"></path></svg
                  >
                </a>
              </li>
              <li>
                <a href="#!">
                  <svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      d="M7.00005 2.04999H5.52505C4.71043 2.04999 4.05005 2.71037 4.05005 3.52499C4.05005 4.33961 4.71043 4.99999 5.52505 4.99999H7.00005V2.04999ZM7.00005 1.04999H8.00005H9.47505C10.842 1.04999 11.95 2.15808 11.95 3.52499C11.95 4.33163 11.5642 5.04815 10.9669 5.49999C11.5642 5.95184 11.95 6.66836 11.95 7.475C11.95 8.8419 10.842 9.95 9.47505 9.95C8.92236 9.95 8.41198 9.76884 8.00005 9.46266V9.95L8.00005 11.425C8.00005 12.7919 6.89195 13.9 5.52505 13.9C4.15814 13.9 3.05005 12.7919 3.05005 11.425C3.05005 10.6183 3.43593 9.90184 4.03317 9.44999C3.43593 8.99814 3.05005 8.28163 3.05005 7.475C3.05005 6.66836 3.43594 5.95184 4.03319 5.5C3.43594 5.04815 3.05005 4.33163 3.05005 3.52499C3.05005 2.15808 4.15814 1.04999 5.52505 1.04999H7.00005ZM8.00005 2.04999V4.99999H9.47505C10.2897 4.99999 10.95 4.33961 10.95 3.52499C10.95 2.71037 10.2897 2.04999 9.47505 2.04999H8.00005ZM5.52505 8.94998H7.00005L7.00005 7.4788L7.00005 7.475L7.00005 7.4712V6H5.52505C4.71043 6 4.05005 6.66038 4.05005 7.475C4.05005 8.28767 4.70727 8.94684 5.5192 8.94999L5.52505 8.94998ZM4.05005 11.425C4.05005 10.6123 4.70727 9.95315 5.5192 9.94999L5.52505 9.95H7.00005L7.00005 11.425C7.00005 12.2396 6.33967 12.9 5.52505 12.9C4.71043 12.9 4.05005 12.2396 4.05005 11.425ZM8.00005 7.47206C8.00164 6.65879 8.66141 6 9.47505 6C10.2897 6 10.95 6.66038 10.95 7.475C10.95 8.28962 10.2897 8.95 9.47505 8.95C8.66141 8.95 8.00164 8.29121 8.00005 7.47794V7.47206Z"
                      fill="currentColor"
                      fill-rule="evenodd"
                      clip-rule="evenodd"></path></svg
                  >
                </a>
              </li>
              <li>
                <a href="#!">
                  <svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      d="M4.76447 3.12199C5.63151 3.04859 6.56082 3 7.5 3C8.43918 3 9.36849 3.04859 10.2355 3.12199C11.2796 3.21037 11.9553 3.27008 12.472 3.39203C12.9425 3.50304 13.2048 3.64976 13.4306 3.88086C13.4553 3.90618 13.4902 3.94414 13.5133 3.97092C13.7126 4.20149 13.8435 4.4887 13.918 5.03283C13.9978 5.6156 14 6.37644 14 7.52493C14 8.66026 13.9978 9.41019 13.9181 9.98538C13.8439 10.5206 13.7137 10.8061 13.5125 11.0387C13.4896 11.0651 13.4541 11.1038 13.4296 11.1287C13.2009 11.3625 12.9406 11.5076 12.4818 11.6164C11.9752 11.7365 11.3143 11.7942 10.2878 11.8797C9.41948 11.9521 8.47566 12 7.5 12C6.52434 12 5.58052 11.9521 4.7122 11.8797C3.68572 11.7942 3.02477 11.7365 2.51816 11.6164C2.05936 11.5076 1.7991 11.3625 1.57037 11.1287C1.54593 11.1038 1.51035 11.0651 1.48748 11.0387C1.28628 10.8061 1.15612 10.5206 1.08193 9.98538C1.00221 9.41019 1 8.66026 1 7.52493C1 6.37644 1.00216 5.6156 1.082 5.03283C1.15654 4.4887 1.28744 4.20149 1.48666 3.97092C1.5098 3.94414 1.54468 3.90618 1.56942 3.88086C1.7952 3.64976 2.05752 3.50304 2.52796 3.39203C3.04473 3.27008 3.7204 3.21037 4.76447 3.12199ZM0 7.52493C0 5.28296 0 4.16198 0.729985 3.31713C0.766457 3.27491 0.815139 3.22194 0.854123 3.18204C1.63439 2.38339 2.64963 2.29744 4.68012 2.12555C5.56923 2.05028 6.52724 2 7.5 2C8.47276 2 9.43077 2.05028 10.3199 2.12555C12.3504 2.29744 13.3656 2.38339 14.1459 3.18204C14.1849 3.22194 14.2335 3.27491 14.27 3.31713C15 4.16198 15 5.28296 15 7.52493C15 9.74012 15 10.8477 14.2688 11.6929C14.2326 11.7348 14.1832 11.7885 14.1444 11.8281C13.3629 12.6269 12.3655 12.71 10.3709 12.8763C9.47971 12.9505 8.50782 13 7.5 13C6.49218 13 5.52028 12.9505 4.62915 12.8763C2.63446 12.71 1.63712 12.6269 0.855558 11.8281C0.816844 11.7885 0.767442 11.7348 0.731221 11.6929C0 10.8477 0 9.74012 0 7.52493ZM5.25 5.38264C5.25 5.20225 5.43522 5.08124 5.60041 5.15369L10.428 7.27105C10.6274 7.35853 10.6274 7.64147 10.428 7.72895L5.60041 9.84631C5.43522 9.91876 5.25 9.79775 5.25 9.61736V5.38264Z"
                      fill="currentColor"
                      fill-rule="evenodd"
                      clip-rule="evenodd"></path></svg
                  >
                </a>
              </li>
            </ul>
          </div>
          <form class="inline-flex items-center">
            <input
              class="w-full px-3 py-1.5 ring-1 ring-inset ring-[var(--mauve-7)] focus:outline-none focus:ring-2 focus:ring-[var(--red-7)]"
              type="search"
              placeholder="Cari artikel"
            />
            <button
              class="button px-3 py-1.5 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[var(--red-7)]"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M10 6.5C10 8.433 8.433 10 6.5 10C4.567 10 3 8.433 3 6.5C3 4.567 4.567 3 6.5 3C8.433 3 10 4.567 10 6.5ZM9.30884 10.0159C8.53901 10.6318 7.56251 11 6.5 11C4.01472 11 2 8.98528 2 6.5C2 4.01472 4.01472 2 6.5 2C8.98528 2 11 4.01472 11 6.5C11 7.56251 10.6318 8.53901 10.0159 9.30884L12.8536 12.1464C13.0488 12.3417 13.0488 12.6583 12.8536 12.8536C12.6583 13.0488 12.3417 13.0488 12.1464 12.8536L9.30884 10.0159Z"
                  fill="currentColor"
                  fill-rule="evenodd"
                  clip-rule="evenodd"></path></svg
              >
            </button>
          </form>
        </header>
        <aside
          class="order-last hidden flex-col gap-4 ring-0 ring-inset md:sticky md:top-0 md:order-3 md:col-span-4 md:flex"
        >
          <h1 class="text-center text-xl font-bold">Associate Cloud Enginer</h1>
          <h2 class="inline-flex items-center gap-x-1 text-sm font-light">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M3 2.5C3 2.22386 3.22386 2 3.5 2H11.5C11.7761 2 12 2.22386 12 2.5V13.5C12 13.6818 11.9014 13.8492 11.7424 13.9373C11.5834 14.0254 11.3891 14.0203 11.235 13.924L7.5 11.5896L3.765 13.924C3.61087 14.0203 3.41659 14.0254 3.25762 13.9373C3.09864 13.8492 3 13.6818 3 13.5V2.5ZM4 3V12.5979L6.97 10.7416C7.29427 10.539 7.70573 10.539 8.03 10.7416L11 12.5979V3H4Z"
                fill="currentColor"
                fill-rule="evenodd"
                clip-rule="evenodd"></path></svg
            >
            Topics
          </h2>
          <nav class="flex flex-col gap-3 text-sm">
            <a class="px-4 py-1.5" href="#!">Google Cloud Build</a>
            <a class="px-4 py-1.5" href="#!">Google Cloud Run</a>
            <a class="px-4 py-1.5" href="#!">Google Cloud SQL</a>
            <a class="px-4 py-1.5" href="#!">Google Cloud Storage</a>
          </nav>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
            distinctio omnis porro, eaque natus perspiciatis aspernatur, alias
            impedit iure ratione consectetur veritatis! Beatae nam ex
            accusantium ut sunt. Ea, a?
          </p>
        </aside>
        <main
          class="selected-text order-2 col-span-12 grid px-4 ring-0 ring-inset md:col-span-8 md:px-0"
        >
          <!-- map() from articles json -->
          {
            articles.map((article) => (
              <article class="mt-8 first:mt-0">
                <time class="text-xs/3 font-bold uppercase tracking-wider text-gray-600">
                  {article.date}
                </time>
                <h3 class="line-clamp-3 text-lg/7 font-bold transition-colors duration-300">
                  {article.title}
                </h3>
              </article>
            ))
          }
          <div>
            <ul class="flex flex-wrap items-center justify-center gap-4 py-10">
              <li class="my-2">
                <a class="px-4 py-2" href="#!">First</a>
              </li>
              <li class="my-2">
                <a class="px-4 py-2" href="#!">1</a>
              </li>
              <li class="my-2">
                <a class="px-4 py-2" href="#!">2</a>
              </li>
              <li class="my-2">
                <a class="px-4 py-2" href="#!">3</a>
              </li>
              <li class="my-2">
                <a class="px-4 py-2" href="#!">4</a>
              </li>
              <li class="my-2">
                <a class="px-4 py-2" href="#!">5</a>
              </li>
              <li class="my-2">
                <a class="px-4 py-2" href="#!">Last</a>
              </li>
            </ul>
            <footer class="flex flex-col gap-y-4 py-10">
              <div class="flex flex-col items-start">
                <ul class="flex items-center gap-x-2 text-sm">
                  <li>
                    <a
                      class="text-[var(--mauve-11)] underline decoration-[var(--mauve-11)] decoration-double"
                      href="#!">Disclaimer</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-[var(--mauve-11)] underline decoration-[var(--mauve-11)] decoration-double"
                      href="#!">Privacy Policy</a
                    >
                  </li>
                </ul>
                <h5
                  class="flex flex-col gap-y-2 py-2 text-xs/4 text-[var(--mauve-11)]"
                >
                  <a
                    rel="license"
                    href="http://creativecommons.org/licenses/by/4.0/"
                    ><img
                      alt="Creative Commons License"
                      style="border-width:0"
                      src="https://i.creativecommons.org/l/by/4.0/88x31.png"
                    /></a
                  >
                  <span>
                    <span
                      class="text-[var(--mauve-12)]"
                      xmlns:dct="http://purl.org/dc/terms/"
                      property="dct:title"
                      >SABAR - Berbagi Wawasan dan Pengalaman Seputar Teknologi</span
                    > by <a
                      class="text-[var(--blue-11)]"
                      xmlns:cc="http://creativecommons.org/ns#"
                      href="google.net"
                      property="cc:attributionName"
                      rel="cc:attributionURL">Wahyu SA</a
                    > is licensed under a <a
                      class="text-[var(--blue-11)]"
                      rel="license"
                      href="http://creativecommons.org/licenses/by/4.0/"
                      >Creative Commons Attribution 4.0 International License</a
                    >.
                  </span>
                </h5>
                <h6 class="text-sm text-[var(--mauve-11)]">
                  &copy; 2023 SABAR
                </h6>
              </div>
            </footer>
          </div>
        </main>
      </div>
    </div>
  </div>
</HomeLayout>
