---
import { getCollection } from "astro:content";
import Header from "../components/Header.astro";
import AsideHome from "../components/AsideHome.astro";
import Footer from "../components/Footer.astro";
import Pagination from "../components/Pagination.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
import { formatDate } from "../utils/formatDate.js";
const articles = await getCollection("blog");
// pagination from articles
const page = 1;
const perPage = 5;
const start = (page - 1) * perPage;
const end = start + perPage;
const paginatedArticles = articles.slice(start, end);
---

<HomeLayout pageTitle="Home Design v1">
  <div class="bg-surface min-h-screen">
    <div class="mx-auto min-h-screen max-w-[90%] bg-white sm:px-8">
      <div
        class="mx-auto grid grid-cols-12 items-start gap-4 lg:max-w-screen-md"
      >
        <Header />
        <AsideHome />
        <main
          class="selected-text order-2 col-span-12 grid px-4 md:col-span-8 md:border-r md:border-[var(--mauve-7)] md:pr-1"
        >
          {
            paginatedArticles.map((article) => (
              <a class="md:mt-8 mt-6 first:mt-0" href={`blog/${article.slug}`}>
                <article>
                  <time class="text-xs/3 font-bold uppercase tracking-wider text-gray-600">
                    {formatDate(article.data.publishedDate)}
                  </time>
                  <h3 class="line-clamp-3 text-lg/7 font-bold transition-colors duration-300">
                    {article.data.title}
                  </h3>
                </article>
              </a>
            ))
          }
          <div>
            <Footer />
          </div>
        </main>
      </div>
    </div>
  </div>
</HomeLayout>
