---
const { title, url, description, pubDate, isFullHeight } = Astro.props;
const date = new Date(pubDate);
const formattedDate = date.toLocaleString("en-US", {
  month: "long",
  day: "numeric",
  year: "numeric",
});
---

<article class={`flex flex-col ${isFullHeight ? "md:min-h-[80dvh]" : ""}`}>
  <p class="text-sm">
    {formattedDate}
  </p>

  <h2 class="text-xl font-semibold tracking-tight">
    <a class="primary-link" href={url}>{title}</a>
  </h2>
  <p class="leading-7">
    {description}
  </p>
</article>
