---
const { time, title, link } = Astro.props;
---

<article class="border-b border-dashed border-zinc-400 px-4 py-6">
  <time class="mb-1 text-sm uppercase tracking-widest sm:text-base">
    {time}
  </time>
  <h2 class="text-balance text-2xl">
    <a href={link} class="underline-offset-2 hover:underline">
      {title}
    </a>
  </h2>
</article>
