<footer class="flex flex-col gap-y-4 py-10">
  <div class="flex flex-col items-start">
    <ul class="flex items-center gap-x-2 text-sm">
      <li>
        <a
          class="text-[var(--mauve-11)] underline decoration-[var(--mauve-11)] decoration-double"
          href="#!">Disclaimer</a
        >
      </li>
      <li>
        <a
          class="text-[var(--mauve-11)] underline decoration-[var(--mauve-11)] decoration-double"
          href="#!">Privacy Policy</a
        >
      </li>
    </ul>
    <h5 class="flex flex-col gap-y-2 py-2 text-xs/4 text-[var(--mauve-11)]">
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"
        ><img
          alt="Creative Commons License"
          style="border-width:0"
          src="https://i.creativecommons.org/l/by/4.0/88x31.png"
        /></a
      >
      <span>
        <span
          class="text-[var(--mauve-12)]"
          xmlns:dct="http://purl.org/dc/terms/"
          property="dct:title"
          >SABAR - Berbagi Wawasan dan Pengalaman Seputar Teknologi</span
        > by <a
          class="text-[var(--blue-11)]"
          xmlns:cc="http://creativecommons.org/ns#"
          href="google.net"
          property="cc:attributionName"
          rel="cc:attributionURL">Wahyu SA</a
        > is licensed under a <a
          class="text-[var(--blue-11)]"
          rel="license"
          href="http://creativecommons.org/licenses/by/4.0/"
          >Creative Commons Attribution 4.0 International License</a
        >.
      </span>
    </h5>
    <h6 class="text-sm text-[var(--mauve-11)]">&copy; 2023 SABAR</h6>
  </div>
</footer>
