---
import { Heart } from "lucide-react";
---

<footer class="py-12 mt-12 bg-slate-950 text-white">
  <div class="max-w-screen-md mx-auto flex flex-col items-center text-balance">
    <h6>
      &copy; {new Date().getFullYear()}
      <a href="#!"> Wahyu Syamsul A&rsquo;lam</a>
    </h6>
    <Heart />
  </div>
</footer>
