<header class="max-w-[500px] mx-auto py-10 relative grid grid-cols-2">
  <div class="p-6">
    <h1 class="font-bold text-4xl">Sup!</h1>
    <p class="text-xl">
      I am stealing that SVG file and design then use it around here.
    </p>
  </div>
  <figure class="place-self-center [perspective:500px]">
    <img
      class="imgrotate rounded-full w-32 h-24 object-cover"
      src="https://lexica-serve-encoded-images2.sharif.workers.dev/full_jpg/1fcc88d0-7981-432e-b2f4-7e9566bb2126"
    />
  </figure>
</header>
