<header class="max-w-[70ch] mx-auto py-10">
  <h1
    class="font-bold text-transparent bg-gradient-to-r from-amber-700 to-yellow-400 text-4xl inline-flex bg-clip-text"
  >
    Smoll
  </h1>
</header>
