<header class="mx-auto max-w-prose bg-neutral-50">
  <div
    class="flex flex-col items-center justify-center gap-6 p-4 shadow-inner sm:flex-row"
  >
    <img
      class="mx-auto w-40 max-w-full rounded-b-full shadow-lg"
      src="https://i.postimg.cc/vTb281TR/anime-girl-confident-but-actually-dumb-chibi-style-with-long-black-hair-and-kuudere-look-and-1.png"
    />
    <h1 class="text-balance text-center text-4xl font-light">
      Dumb, can't read documentation.
    </h1>
  </div>
</header>
