<ul class="flex flex-wrap items-center justify-center gap-4 py-10">
  <li class="my-2">
    <a class="px-4 py-2" href="#!">First</a>
  </li>
  <li class="my-2">
    <a class="px-4 py-2" href="#!">1</a>
  </li>
  <li class="my-2">
    <a class="px-4 py-2" href="#!">2</a>
  </li>
  <li class="my-2">
    <a class="px-4 py-2" href="#!">3</a>
  </li>
  <li class="my-2">
    <a class="px-4 py-2" href="#!">4</a>
  </li>
  <li class="my-2">
    <a class="px-4 py-2" href="#!">5</a>
  </li>
  <li class="my-2">
    <a class="px-4 py-2" href="#!">Last</a>
  </li>
</ul>
