<h2>Related posts</h2>
<ul class="flex items-center justify-between gap-6">
  <li class="my-2">
    <a class="inline-flex px-4 py-2" href="#!"
      >Google Cloud Platform: Solusi Komputasi Awan yang Efisien dan Ramah
      Lingkungan</a
    >
  </li>
  <li class="my-2">
    <a class="inline-flex px-4 py-2" href="#!">
      Menggunakan Google Cloud Run untuk Machine Learning REST API Lebih Murah
    </a>
  </li>
</ul>
