---
import { Share2 } from "lucide-react";
import { Button } from "@/components/ui/button";
---

<aside
  class="hidden md:flex flex-col space-y-4 absolute right-0 top-0 items-start inset-y-0"
>
  <div class="sticky top-0 pt-[68px]">
    <!-- Replace with your actual icons and links -->
    <div class="pt-6">
      <Button variant="outline" size="icon"><Share2 /></Button>
    </div>
    <!-- Add more icons as needed -->
  </div>
</aside>
