---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav class="sticky top-0 mx-auto max-w-prose bg-white p-4 shadow">
  <div class="flex items-center gap-4">
    <img
      class="size-8 rounded-full sm:size-16"
      src="https://i.postimg.cc/pdd2rT9F/anime-girl-confident-but-actually-dumb-chibi-style-with-long-black-hair-and-kuudere-look-transpar.png"
    />
    <form class="flex-1">
      <input
        type="search"
        placeholder="Search ..."
        class="w-full rounded-md px-4 py-2 outline outline-2 outline-zinc-300 focus:outline-zinc-500"
      />
    </form>
  </div>
  <ul>
    <li>
      <a href={translatePath("/home/")}>
        {t("nav.home")}
      </a>
    </li>
    <li>
      <a href={translatePath("/about/")}>
        {t("nav.about")}
      </a>
    </li>
    <li>
      <a href="https://twitter.com/astrodotbuild">
        {t("nav.twitter")}
      </a>
    </li>
  </ul>
</nav>
