---
import { getCollection, CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const allProjects = await getCollection("projects");

  return allProjects.map((project) => ({
    params: { slug: project.slug },
    props: {
      project,
    },
  }));
}

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { title } = project.data;

const { Content } = await project.render();

const allPosts = await getCollection("projects");
---

<div>
  <Content />
</div>
