---
import { getCollection, CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const allBlog = await getCollection("blogs");

  return allBlog.map((blog) => ({
    params: { slug: blog.slug },
    props: {
      blog,
    },
  }));
}

interface Props {
  blog: CollectionEntry<"blogs">;
}

const { blog } = Astro.props;
const { title } = blog.data;

const { Content } = await blog.render();

const allPosts = await getCollection("blogs");
---

<div>
  <Content />
</div>
