---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <main
    class="max-w-screen-md mx-auto min-h-dvh justify-center flex flex-col items-start px-6 lg:px-0"
  >
    <slot />
  </main>
</BaseLayout>
