---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-gradient-to-b from-zinc-900 to-black text-zinc-100 relative isolate"
  >
    <img class="absolute w-[400px] h-auto" src="test.png" alt="Astro Logo" />
    <img
      class="absolute w-[400px] h-screen right-0 rotate-180"
      src="test.png"
      alt="Astro Logo"
    />
    <svg
      class="absolute right-0 path inset-y-0 max-h-screen rotate-180 max-w-full"
      viewBox="0 0 668 1070"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_1_9)">
        <mask
          id="mask0_1_9"
          style="mask-type:luminance"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="668"
          height="1070"
        >
          <path d="M668 1069.4H0L0 0.599976H668L668 1069.4Z" fill="white"
          ></path>
        </mask>
        <g mask="url(#mask0_1_9)">
          <g opacity="0.4">
            <path
              opacity="0.3"
              d="M584.5 771V297M484.5 771V297M384.5 771V297M283.5 770V296M183.5 769V295M83.5 768V294"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M83.5 221.875V228.462C83.4999 236.71 85.5361 244.83 89.4278 252.102C93.3195 259.374 98.9464 265.573 105.809 270.148L161.39 307.202C168.252 311.777 173.879 317.976 177.771 325.248C181.663 332.52 183.699 340.64 183.699 348.888V355.475M83.5 716.612V723.2C83.5 731.448 85.5362 739.568 89.4279 746.84C93.3197 754.112 98.9465 760.31 105.809 764.885L161.39 801.939C168.252 806.514 173.879 812.713 177.771 819.985C181.663 827.257 183.699 835.377 183.699 843.625V850.212M183.7 585.1V591.687C183.7 599.935 185.736 608.055 189.628 615.327C193.52 622.599 199.147 628.798 206.01 633.373L261.591 670.427C268.454 675.002 274.081 681.2 277.972 688.472C281.864 695.744 283.9 703.864 283.9 712.112V718.7M384.101 278.237V284.825C384.101 293.073 386.137 301.193 390.029 308.465C393.921 315.736 399.548 321.935 406.41 326.51L461.991 363.564C468.854 368.139 474.481 374.338 478.373 381.61C482.265 388.882 484.301 397.002 484.301 405.25V411.837M384.1 770.888V777.475C384.1 785.723 382.064 793.843 378.172 801.115C374.28 808.387 368.654 814.586 361.791 819.161L306.21 856.215C299.347 860.79 293.72 866.988 289.828 874.26C285.936 881.532 283.9 889.652 283.9 897.9V904.488"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M384.1 770.888V777.475C384.1 785.723 382.064 793.843 378.172 801.115C374.28 808.387 368.654 814.586 361.791 819.161L306.21 856.215C299.347 860.79 293.72 866.988 289.828 874.26C285.936 881.532 283.9 889.652 283.9 897.9V904.488V760.45M484.3 595.537V602.124C484.3 610.372 482.264 618.492 478.372 625.764C474.48 633.036 468.853 639.235 461.99 643.81L406.409 680.864C399.546 685.439 393.92 691.638 390.028 698.91C386.136 706.182 384.1 714.302 384.1 722.55V729.137V672.775M484.3 873.175V879.762C484.3 888.01 482.264 896.13 478.372 903.402C474.48 910.674 468.853 916.873 461.99 921.448L406.409 958.502C399.546 963.077 393.919 969.276 390.028 976.548C386.136 983.82 384.1 991.94 384.1 1000.19V1006.77V770.887M584.501 664.424V704.412C584.501 712.66 582.465 720.78 578.573 728.052C574.681 735.324 569.054 741.522 562.191 746.097L506.61 783.151C499.748 787.726 494.121 793.925 490.229 801.197C486.337 808.469 484.301 816.589 484.301 824.837V831.424V595.537M283.899 946.237V952.825C283.899 961.073 281.863 969.193 277.971 976.465C274.079 983.736 268.452 989.935 261.59 994.51L206.009 1031.56C199.147 1036.14 193.52 1042.34 189.629 1049.61C185.737 1056.88 183.7 1065 183.699 1073.25V1079.84M584.5 411.837C584.5 391.891 571.737 374.183 552.814 367.875L415.786 322.199C396.863 315.892 384.1 298.183 384.1 278.237V631.025C384.1 611.079 371.336 593.37 352.414 587.063L217.957 542.244C197.499 535.424 183.7 516.279 183.7 494.715V464.025M384.1 236.488C384.1 216.972 370.545 200.076 351.495 195.842L116.104 143.533C97.054 139.3 83.5 122.403 83.5 102.888V180.124M83.5 464.025V405.575M183.699 543.35V397.225M283.9 1069.4V946.237M83.5 363.825V221.875M83.5 61.137V0.599976M584.5 1069.4V664.425M484.301 555.875V453.588M584.5 622.675V453.588M384.1 1069.4V1048.52M183.699 1067.31V891.962M83.5 1069.4V716.612M83.5 674.863V505.775"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M83.5 374.262C77.7352 374.262 73.062 378.935 73.062 384.7C73.062 390.465 77.7352 395.138 83.5 395.138C89.2647 395.138 93.938 390.465 93.938 384.7C93.938 378.935 89.2647 374.262 83.5 374.262Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M83.5 190.561C77.7352 190.561 73.062 195.234 73.062 200.999C73.062 206.764 77.7352 211.437 83.5 211.437C89.2647 211.437 93.938 206.764 93.938 200.999C93.938 195.234 89.2647 190.561 83.5 190.561Z"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M83.5 71.574C77.7352 71.574 73.062 76.2472 73.062 82.0119C73.062 87.7767 77.7352 92.45 83.5 92.45C89.2647 92.45 93.938 87.7767 93.938 82.0119C93.938 76.2472 89.2647 71.574 83.5 71.574Z"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M183.699 365.912C177.934 365.912 173.261 370.585 173.261 376.35C173.261 382.115 177.934 386.788 183.699 386.788C189.464 386.788 194.137 382.115 194.137 376.35C194.137 370.585 189.464 365.912 183.699 365.912Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M183.699 553.787C177.934 553.787 173.261 558.46 173.261 564.225C173.261 569.99 177.934 574.663 183.699 574.663C189.464 574.663 194.137 569.99 194.137 564.225C194.137 558.46 189.464 553.787 183.699 553.787Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M384.1 641.462C378.335 641.462 373.662 646.135 373.662 651.9C373.662 657.665 378.335 662.338 384.1 662.338C389.865 662.338 394.538 657.665 394.538 651.9C394.538 646.135 389.865 641.462 384.1 641.462Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M484.301 564.22C478.536 564.22 473.863 568.893 473.863 574.658C473.863 580.423 478.536 585.096 484.301 585.096C490.066 585.096 494.739 580.423 494.739 574.658C494.739 568.893 490.066 564.22 484.301 564.22Z"
              fill="#0EA5E9"
              fill-opacity="0.42"
              stroke="#0EA5E9"
              stroke-width="4"></path>
            <path
              d="M384.1 739.57C378.335 739.57 373.662 744.243 373.662 750.008C373.662 755.773 378.335 760.446 384.1 760.446C389.865 760.446 394.538 755.773 394.538 750.008C394.538 744.243 389.865 739.57 384.1 739.57Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M384.1 1017.21C378.335 1017.21 373.662 1021.89 373.662 1027.65C373.662 1033.41 378.335 1038.09 384.1 1038.09C389.865 1038.09 394.538 1033.41 394.538 1027.65C394.538 1021.89 389.865 1017.21 384.1 1017.21Z"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M283.9 914.929C278.135 914.929 273.462 919.602 273.462 925.367C273.462 931.132 278.135 935.805 283.9 935.805C289.665 935.805 294.338 931.132 294.338 925.367C294.338 919.602 289.665 914.929 283.9 914.929Z"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M183.699 860.645C177.934 860.645 173.261 865.318 173.261 871.083C173.261 876.848 177.934 881.521 183.699 881.521C189.464 881.521 194.137 876.848 194.137 871.083C194.137 865.318 189.464 860.645 183.699 860.645Z"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M283.9 729.137C278.135 729.137 273.462 733.81 273.462 739.575C273.462 745.34 278.135 750.013 283.9 750.013C289.665 750.013 294.338 745.34 294.338 739.575C294.338 733.81 289.665 729.137 283.9 729.137Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M83.5 685.304C77.7352 685.304 73.062 689.977 73.062 695.742C73.062 701.507 77.7352 706.18 83.5 706.18C89.2647 706.18 93.938 701.507 93.938 695.742C93.938 689.977 89.2647 685.304 83.5 685.304Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M83.5 474.462C77.7352 474.462 73.062 479.135 73.062 484.9C73.062 490.665 77.7352 495.338 83.5 495.338C89.2647 495.338 93.938 490.665 93.938 484.9C93.938 479.135 89.2647 474.462 83.5 474.462Z"
              fill="#0EA5E9"
              fill-opacity="0.42"
              stroke="#0EA5E9"
              stroke-width="4"></path>
            <path
              d="M484.301 422.274C478.536 422.274 473.863 426.947 473.863 432.712C473.863 438.477 478.536 443.15 484.301 443.15C490.066 443.15 494.739 438.477 494.739 432.712C494.739 426.947 490.066 422.274 484.301 422.274Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M584.5 422.274C578.735 422.274 574.062 426.947 574.062 432.712C574.062 438.477 578.735 443.15 584.5 443.15C590.265 443.15 594.938 438.477 594.938 432.712C594.938 426.947 590.265 422.274 584.5 422.274Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M584.5 633.112C578.735 633.112 574.062 637.785 574.062 643.55C574.062 649.315 578.735 653.988 584.5 653.988C590.265 653.988 594.938 649.315 594.938 643.55C594.938 637.785 590.265 633.112 584.5 633.112Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M484.301 841.863C478.536 841.863 473.863 846.536 473.863 852.301C473.863 858.066 478.536 862.739 484.301 862.739C490.066 862.739 494.739 858.066 494.739 852.301C494.739 846.536 490.066 841.863 484.301 841.863Z"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M384.1 246.925C378.335 246.925 373.662 251.598 373.662 257.363C373.662 263.128 378.335 267.801 384.1 267.801C389.865 267.801 394.538 263.128 394.538 257.363C394.538 251.598 389.865 246.925 384.1 246.925Z"
              stroke="#334155"
              stroke-width="4"></path>
          </g>
        </g>
      </g>
      <defs>
        <clipPath id="clip0_1_9">
          <rect
            width="668"
            height="1069"
            fill="white"
            transform="translate(0 0.599976)"></rect>
        </clipPath>
      </defs>
    </svg>
    <svg
      class="absolute left-0 path inset-y-0 rotate-90 max-h-full"
      viewBox="0 0 668 1070"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_1_9)">
        <mask
          id="mask0_1_9"
          style="mask-type:luminance"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="668"
          height="1070"
        >
          <path d="M668 1069.4H0L0 0.599976H668L668 1069.4Z" fill="white"
          ></path>
        </mask>
        <g mask="url(#mask0_1_9)">
          <g opacity="0.4">
            <path
              opacity="0.3"
              d="M584.5 771V297M484.5 771V297M384.5 771V297M283.5 770V296M183.5 769V295M83.5 768V294"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M83.5 221.875V228.462C83.4999 236.71 85.5361 244.83 89.4278 252.102C93.3195 259.374 98.9464 265.573 105.809 270.148L161.39 307.202C168.252 311.777 173.879 317.976 177.771 325.248C181.663 332.52 183.699 340.64 183.699 348.888V355.475M83.5 716.612V723.2C83.5 731.448 85.5362 739.568 89.4279 746.84C93.3197 754.112 98.9465 760.31 105.809 764.885L161.39 801.939C168.252 806.514 173.879 812.713 177.771 819.985C181.663 827.257 183.699 835.377 183.699 843.625V850.212M183.7 585.1V591.687C183.7 599.935 185.736 608.055 189.628 615.327C193.52 622.599 199.147 628.798 206.01 633.373L261.591 670.427C268.454 675.002 274.081 681.2 277.972 688.472C281.864 695.744 283.9 703.864 283.9 712.112V718.7M384.101 278.237V284.825C384.101 293.073 386.137 301.193 390.029 308.465C393.921 315.736 399.548 321.935 406.41 326.51L461.991 363.564C468.854 368.139 474.481 374.338 478.373 381.61C482.265 388.882 484.301 397.002 484.301 405.25V411.837M384.1 770.888V777.475C384.1 785.723 382.064 793.843 378.172 801.115C374.28 808.387 368.654 814.586 361.791 819.161L306.21 856.215C299.347 860.79 293.72 866.988 289.828 874.26C285.936 881.532 283.9 889.652 283.9 897.9V904.488"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M384.1 770.888V777.475C384.1 785.723 382.064 793.843 378.172 801.115C374.28 808.387 368.654 814.586 361.791 819.161L306.21 856.215C299.347 860.79 293.72 866.988 289.828 874.26C285.936 881.532 283.9 889.652 283.9 897.9V904.488V760.45M484.3 595.537V602.124C484.3 610.372 482.264 618.492 478.372 625.764C474.48 633.036 468.853 639.235 461.99 643.81L406.409 680.864C399.546 685.439 393.92 691.638 390.028 698.91C386.136 706.182 384.1 714.302 384.1 722.55V729.137V672.775M484.3 873.175V879.762C484.3 888.01 482.264 896.13 478.372 903.402C474.48 910.674 468.853 916.873 461.99 921.448L406.409 958.502C399.546 963.077 393.919 969.276 390.028 976.548C386.136 983.82 384.1 991.94 384.1 1000.19V1006.77V770.887M584.501 664.424V704.412C584.501 712.66 582.465 720.78 578.573 728.052C574.681 735.324 569.054 741.522 562.191 746.097L506.61 783.151C499.748 787.726 494.121 793.925 490.229 801.197C486.337 808.469 484.301 816.589 484.301 824.837V831.424V595.537M283.899 946.237V952.825C283.899 961.073 281.863 969.193 277.971 976.465C274.079 983.736 268.452 989.935 261.59 994.51L206.009 1031.56C199.147 1036.14 193.52 1042.34 189.629 1049.61C185.737 1056.88 183.7 1065 183.699 1073.25V1079.84M584.5 411.837C584.5 391.891 571.737 374.183 552.814 367.875L415.786 322.199C396.863 315.892 384.1 298.183 384.1 278.237V631.025C384.1 611.079 371.336 593.37 352.414 587.063L217.957 542.244C197.499 535.424 183.7 516.279 183.7 494.715V464.025M384.1 236.488C384.1 216.972 370.545 200.076 351.495 195.842L116.104 143.533C97.054 139.3 83.5 122.403 83.5 102.888V180.124M83.5 464.025V405.575M183.699 543.35V397.225M283.9 1069.4V946.237M83.5 363.825V221.875M83.5 61.137V0.599976M584.5 1069.4V664.425M484.301 555.875V453.588M584.5 622.675V453.588M384.1 1069.4V1048.52M183.699 1067.31V891.962M83.5 1069.4V716.612M83.5 674.863V505.775"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M83.5 374.262C77.7352 374.262 73.062 378.935 73.062 384.7C73.062 390.465 77.7352 395.138 83.5 395.138C89.2647 395.138 93.938 390.465 93.938 384.7C93.938 378.935 89.2647 374.262 83.5 374.262Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M83.5 190.561C77.7352 190.561 73.062 195.234 73.062 200.999C73.062 206.764 77.7352 211.437 83.5 211.437C89.2647 211.437 93.938 206.764 93.938 200.999C93.938 195.234 89.2647 190.561 83.5 190.561Z"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M83.5 71.574C77.7352 71.574 73.062 76.2472 73.062 82.0119C73.062 87.7767 77.7352 92.45 83.5 92.45C89.2647 92.45 93.938 87.7767 93.938 82.0119C93.938 76.2472 89.2647 71.574 83.5 71.574Z"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M183.699 365.912C177.934 365.912 173.261 370.585 173.261 376.35C173.261 382.115 177.934 386.788 183.699 386.788C189.464 386.788 194.137 382.115 194.137 376.35C194.137 370.585 189.464 365.912 183.699 365.912Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M183.699 553.787C177.934 553.787 173.261 558.46 173.261 564.225C173.261 569.99 177.934 574.663 183.699 574.663C189.464 574.663 194.137 569.99 194.137 564.225C194.137 558.46 189.464 553.787 183.699 553.787Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M384.1 641.462C378.335 641.462 373.662 646.135 373.662 651.9C373.662 657.665 378.335 662.338 384.1 662.338C389.865 662.338 394.538 657.665 394.538 651.9C394.538 646.135 389.865 641.462 384.1 641.462Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M484.301 564.22C478.536 564.22 473.863 568.893 473.863 574.658C473.863 580.423 478.536 585.096 484.301 585.096C490.066 585.096 494.739 580.423 494.739 574.658C494.739 568.893 490.066 564.22 484.301 564.22Z"
              fill="#0EA5E9"
              fill-opacity="0.42"
              stroke="#0EA5E9"
              stroke-width="4"></path>
            <path
              d="M384.1 739.57C378.335 739.57 373.662 744.243 373.662 750.008C373.662 755.773 378.335 760.446 384.1 760.446C389.865 760.446 394.538 755.773 394.538 750.008C394.538 744.243 389.865 739.57 384.1 739.57Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M384.1 1017.21C378.335 1017.21 373.662 1021.89 373.662 1027.65C373.662 1033.41 378.335 1038.09 384.1 1038.09C389.865 1038.09 394.538 1033.41 394.538 1027.65C394.538 1021.89 389.865 1017.21 384.1 1017.21Z"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M283.9 914.929C278.135 914.929 273.462 919.602 273.462 925.367C273.462 931.132 278.135 935.805 283.9 935.805C289.665 935.805 294.338 931.132 294.338 925.367C294.338 919.602 289.665 914.929 283.9 914.929Z"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M183.699 860.645C177.934 860.645 173.261 865.318 173.261 871.083C173.261 876.848 177.934 881.521 183.699 881.521C189.464 881.521 194.137 876.848 194.137 871.083C194.137 865.318 189.464 860.645 183.699 860.645Z"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M283.9 729.137C278.135 729.137 273.462 733.81 273.462 739.575C273.462 745.34 278.135 750.013 283.9 750.013C289.665 750.013 294.338 745.34 294.338 739.575C294.338 733.81 289.665 729.137 283.9 729.137Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M83.5 685.304C77.7352 685.304 73.062 689.977 73.062 695.742C73.062 701.507 77.7352 706.18 83.5 706.18C89.2647 706.18 93.938 701.507 93.938 695.742C93.938 689.977 89.2647 685.304 83.5 685.304Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M83.5 474.462C77.7352 474.462 73.062 479.135 73.062 484.9C73.062 490.665 77.7352 495.338 83.5 495.338C89.2647 495.338 93.938 490.665 93.938 484.9C93.938 479.135 89.2647 474.462 83.5 474.462Z"
              fill="#0EA5E9"
              fill-opacity="0.42"
              stroke="#0EA5E9"
              stroke-width="4"></path>
            <path
              d="M484.301 422.274C478.536 422.274 473.863 426.947 473.863 432.712C473.863 438.477 478.536 443.15 484.301 443.15C490.066 443.15 494.739 438.477 494.739 432.712C494.739 426.947 490.066 422.274 484.301 422.274Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M584.5 422.274C578.735 422.274 574.062 426.947 574.062 432.712C574.062 438.477 578.735 443.15 584.5 443.15C590.265 443.15 594.938 438.477 594.938 432.712C594.938 426.947 590.265 422.274 584.5 422.274Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M584.5 633.112C578.735 633.112 574.062 637.785 574.062 643.55C574.062 649.315 578.735 653.988 584.5 653.988C590.265 653.988 594.938 649.315 594.938 643.55C594.938 637.785 590.265 633.112 584.5 633.112Z"
              fill="#1E293B"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M484.301 841.863C478.536 841.863 473.863 846.536 473.863 852.301C473.863 858.066 478.536 862.739 484.301 862.739C490.066 862.739 494.739 858.066 494.739 852.301C494.739 846.536 490.066 841.863 484.301 841.863Z"
              stroke="#334155"
              stroke-width="4"></path>
            <path
              d="M384.1 246.925C378.335 246.925 373.662 251.598 373.662 257.363C373.662 263.128 378.335 267.801 384.1 267.801C389.865 267.801 394.538 263.128 394.538 257.363C394.538 251.598 389.865 246.925 384.1 246.925Z"
              stroke="#334155"
              stroke-width="4"></path>
          </g>
        </g>
      </g>
      <defs>
        <clipPath id="clip0_1_9">
          <rect
            width="668"
            height="1069"
            fill="white"
            transform="translate(0 0.599976)"></rect>
        </clipPath>
      </defs>
    </svg>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&family=Outfit:wght@700&display=swap");
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: "Inter", system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Outfit", system-ui, sans-serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .hacker {
    min-height: 100vh;
    min-height: 100dvh;
  }
  .path {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 5s linear forwards;
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 2000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  .imgrotate {
    animation: rotate 5s linear forwards;
  }
  @keyframes rotate {
    0% {
      transform: rotate3d(0, 1, 0, 25deg);
    }
    100% {
      transform: rotate3d(0, 1, 0, -30deg);
    }
  }
</style>
